[build]
  publish = "dist"
  command = "curl 'https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip' -o 'awscliv2.zip' && unzip -q awscliv2.zip && sudo ./aws/install && export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID_MK && export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY_MK && export AWS_DEFAULT_REGION=eu-west-1 && npm run build"

[[headers]]
  for = "/*.js"
  [headers.values]
    Content-Type = "application/javascript; charset=utf-8"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
